<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		<link rel="stylesheet" href="/common.css" type="text/css" />
		<link rel="stylesheet" href="/index.css" type="text/css" />
	</head>
	<body>
		<div class="container">
			<a href="/entities/all">All entities</a>
			<a href="/entities/letters">Letters</a>
			<a href="/entities/math">Math</a>
			<a href="/entities/arrows">Arrows</a>
			<a href="/entities/numbers">Numbers</a>
			<a href="/entities/punctuation">Punctuation</a>
			<a href="/entities/symbols">Symbols</a>
			<a href="/entities/currency">Currency</a>
		</div>
	</body>
</html>
