:root {
	--black: rgba(0, 0, 0, 0.63);
	--white: rgb(255, 255, 255);
	--blue: rgba(0, 0, 255, 0.747);
	--background: rgba(0, 0, 255, 0.05);
	--dark-blue: rgb(12, 30, 63);
	--green: rgba(3, 216, 3, 0.664);
	--light-green: rgb(216, 243, 216);
	--font: Montserrat, Roboto, sans-serif;
	--shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.15);
	--time: 0.25s;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--black);
	font-family: var(--font);
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
	background: var(--background);
}
a {
	text-decoration: none;
	padding: 15px 30px;
	background: var(--white);
	border-radius: 40px;
	transition: all var(--time) ease-in-out;
	font-size: 16px;
	border: 1px solid var(--dark-blue);
	text-align: center;
}
a:hover {
	background: var(--dark-blue);
	color: var(--white);
}
a:active {
	transform: scale(0.9);
}
