.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
a {
	border: none;
	width: 400px;
	height: 400px;
	margin: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--shadow);
	font-size: 32px;
}
@media only screen and (max-width:478px){
	a{
		width:175px;
		height:175px;
		margin:10px;
		border-radius: 20px;
		font-size:24px;
	}
}